DATA MINING PCA1

SUBHRADYUTI JANA

1. (c)

In [ ]:
def execmain():
  x=input("Enter a number:")
  if(abs(x)==x):
    print("You entered a positive number:")
  else:
    x*=-1
    print("Number made positive:"),x
  execmain()

1. (D)

In [ ]:
L1 = [100,900,300,400,500]
START = 1
SUM = 0
for C in range(START,4):
  SUM = SUM + L1[C]
  print(C, ":", SUM)
SUM= SUM + L1[0]*10
print(SUM)

1 : 900
2 : 1200
3 : 1600
2600

1.(e)

In [ ]:
def ChangeList():
    L = []
    L1 = []
    L2 = []

    for i in range(1, 10):
        L.append(i)

    for i in range(10, 1, -2):
        L1.append(i)

    for i in range(len(L1)):
        L2.append(L1[i] + L[i])

    L2.append(len(L) - len(L1))
    print(L2)

ChangeList()

[11, 10, 9, 8, 7, 4]

2

In [ ]:
def remove_duplicate(lst:list):
  dic={}
  for i in lst:
    if i not in dic.keys():
      dic[i]=1
    else:
      dic[i]+=1
  new_lst=[i for i in dic.keys() if dic[i]==1]
  print(f"Find list:{new_lst}")

In [ ]:
remove_duplicate([1,1,2,3,4,5,1,2,1])

Find list:[3, 4, 5]

3

In [ ]:
def extract_words_starting_with_k(test_list, k):

  results = []
  for string in test_list:
    for word in string.split():
      if word.startswith(k):
        results.append(word)
  return results


test_list = ["Python is good for learning", "This is for me", "I love cakes"]
k = "l"

print(extract_words_starting_with_k(test_list, k))

['learning', 'love']

4

In [ ]:
def reverse_strings_in_list(string_list):
    reversed_list = []

    for string in string_list:
        reversed_string = string[::-1]
        reversed_list.append(reversed_string)

    return reversed_list

input_list = ['I', 'have', 'been', 'to', 'school']
output_list = reverse_strings_in_list(input_list)
print(output_list)

['I', 'evah', 'neeb', 'ot', 'loohcs']

5

In [ ]:
from collections import Counter
test_dict = {'Manjeet': [1],'Akash': [1, 8, 9]}
cnt = Counter()
for idx in test_dict.values():
    cnt.update(idx)
res = {idx: [key for key in j if cnt[key] == 1]
       for idx, j in test_dict.items()}
print("After removing duplicate values " + str(res))

After removing duplicate values {'Manjeet': [], 'Akash': [8, 9]}

6

In [ ]:

n = int(input("Enter the value of 'n': "))

fibonacci_series = [0, 1]

while fibonacci_series[-1] + fibonacci_series[-2] <= n:
    next_number = fibonacci_series[-1] + fibonacci_series[-2]
    fibonacci_series.append(next_number)

print("Fibonacci Series up to", n, ":", fibonacci_series)

Enter the value of 'n': 20
Fibonacci Series up to 20 : [0, 1, 1, 2, 3, 5, 8, 13]